/* #nav-container {
  margin-top: 0;
}

a{
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

#nav-header {
  font-size: 2rem; 
  margin: 0; 
  float: left; 
}

/* ul {
  list-style-type: none; 
  padding: 0; 
  display: flex; 
} */

/* #nav-el {
  margin-top: 0px; 
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  float: right;
}
#nav-el:hover{
  color: rgb(202, 182, 159);
  scale: 200%;
} */ 