@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  --main-color: rgba(255, 255, 255, 0.87);
  /* --background-color: rgb(222, 200, 174); */
  /* background-image: url('./assets/pastel2.png'); */
  background-image: url('./assets/chaotic1.png');
  /* background-image: url('./assets/sukna1.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  color: var(--main-color);
  background-color: var(--background-color);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
